*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body{
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-color: black;
  /* font-family: 'Baloo Bhai 2', cursive; */
}
/* html,body{
  
} */

/* .card:hover{
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 7px 7px rgba(0,0,0,0.1);

} */

.main_div{
  /* border: 2px solid blue; */
  text-align: center;
  height: auto;
  margin-top: 42px;
}
.image_div img{
  width: 194px;
  height: 180px;
}
.paragraph p{
   font-size: 25px;
    font-weight: 700;
    padding: 10px;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;

}

.add_list_div{
  border: 2px solid red;
    height: auto;
    padding: 8px;
    display: inline-block;
    width: auto;
    font-family: 'Baloo Bhai 2', cursive;
    background-color: white;
    border-radius: 9px;
}
.add_list_div img{
  height: 17px;
    width: 41px;
}
.add_list_div input{
  width: 281px;
    border: none;
    height: 26px;
    padding: 3px;
    margin-left: 7px;
    outline: none;
    margin-right: 20px;
    font-size: 18px;
}
button{
  cursor: pointer;
}
.check_list{
  
}
.check_list button{
  width: 137px;
  height: 42px;
  border-radius: 18px;
  margin: 13px;
  font-size: 20px;
  font-family: 'Baloo Bhai 2', cursive;
  font-weight: bold;
  margin-top: 48px;
}
.check_list button:hover{
  transform: scale(1.02);
  color: rgb(177, 75, 146);
}
.add_icon{
  /* outline: none; */
  border: none;
  
  transform: scale(1.4);
  margin-top: 2px;
  /* border: 3px solid #7CFF01;
  border-radius: 20px; */
  background-color: #f8f8ef;
}
.add_icon:hover{
  transform: scale(1.6);
  color: green;
  background-color: rgba(133, 128, 128, 0.24);
  border-radius: 10px;

}

.each_item h2{
  color: black;
  background-color: white;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
}
.delete_icon{
  border: none;
  background-color: white;
}

.show_items{
  margin-top: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  
 }
 .each_item{
  display: inline-block;
  background-color: white;
  width: auto;
  height: auto;
  margin-top: 8px;
  border-radius: 7px;
  
  }
  .each_item h2{
    border: 3px solid grey;
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 7px;
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 1px;
    padding-right: 5px;
    background-image: linear-gradient(to bottom right,yellow,rgb(60, 209, 60),rgb(0, 217, 255));
  }
  .items{
    display: flex;
    justify-content: space-between;
  }
  .all_items{
    display: flex;
    flex-direction: column;
  }

.delete_icon{
  margin-right: 5px;
  background-color: rgba(197, 186, 186, 0.685);
  border-radius: 10px;
  width: 35px;
  margin-bottom: 3px;
  height: 35px;
}
.delete_icon:hover{
  color: red;
  transform: scale(1.1);
}
.edit_icon{
  margin-right: 7px;
  border: none;
  background-color: rgba(197, 186, 186, 0.685);
  border-radius: 10px;
  width: 35px;
  margin-bottom: 3px;
  height: 35px;
}
.edit_icon:hover{
  color: rgb(43, 199, 43);
  transform: scale(1.1);
}
.edit_del_div{
  margin-top: 5px;
  display: flex;
  margin-left: 13px;
}



@media(max-width:415px){

   .add_list_div input{
     width: 151px;
   }
}